* {
	margin: 0;
	padding: 0;
}

:root {
    --primary-color:#696D7D;
    --secondary-color:#6F9283;
    --accent1-color:#CDC6A5;
    --accent2-color:#F0DCCA;
    --accent3-color:#8D9F87;
}

div h1 {
    color: #CDC6A5;
    margin-top: 15px;
    margin-bottom: 10px;
    position: absolute;
}

section h2 { 
    color:#CDC6A5;
    margin-top: 15px;
    margin-bottom: 10px;
}

p{
    color: #F0DCCA;
    margin-top: 0px;
}

nav{
    text-decoration: none;
}

nav a{
    text-decoration: none;
}

.hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

main {
	max-width: 1200px;
	margin: 0 auto;
    padding: 0 20px;
	font-family: Roboto, Arial, sans-serif;
}

main div { 
    position: relative;
}

main div img {
    display: block;
    width: 100%;
    height: auto;
}
