:root {
    --primary-color: #984447;
    --secondary-color: #476c9b;
    --accent1-color: #add9f4;
    --accent2-color: #101419;
    --accent1-see-through: #f4f1ded3;
    --accent2-see-through: #858376d3;
}
header {
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-items: center;
    align-items: center;
    background: var(--primary-color);
    max-width: 100%;
    color: white;
}
header img {
    width: 150px;
    padding: 1px;
    border: 2px solid var(--secondary-color);
    margin: 10px 0px 5px 0px;
}
header nav a {
    padding: 15px;
    border: 1px solid var(--secondary-color);
    background: var(--accent1-color);
    text-decoration: none;
    color: var(--accent2-color);
    width: 150px;
    text-align: center;
}
header nav {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    margin: 10px 0 0 0;
}
.hero h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 23%;
    background-color: var(--accent2-see-through);
    font-weight: 700;
    width: 1000px;
    height: 70px;
}
.hero article {
    position: absolute;
    top: 83%;
    left: 15%;
    background-color: var(--accent1-see-through);
    padding: 5px;
	box-shadow: 0 0 30px #111;
    border-radius: 5px;
}
.hero article img{
    width: 150px;
    height: auto;
    float: right;
    border: 1px solid black;
    padding: 1px;
}
.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 110px 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: var(--accent1-color);
    border: 1px solid var(--primary-color);
    padding: 0 5px 5px 5px;
    margin: 10px 0 0 0;
}
.history h2 {
    grid-column: 1/-1;
    font-weight: 400;
}
.history img {
    width: 300px;
    height: 100%;
    padding: 1px;
    border: 1px solid black;
}
.adventure{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: var(--secondary-color);
    border: 1px solid var(--accent1-color);
    padding: 0 5px 5px 5px;
    margin: 10px 0 0 0;
}
.adventure h2{
    grid-column: 1/-1;
    font-weight: 400;
}
.adventure img{
    width: 150px;
    height: 100%;
    border: 1px solid black;
    padding: 1px;
}
.adventure caption{
    font-size: 14px;
    text-align: center;
}
.adventure figure{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--accent2-color)
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2000px;
    background: var(--primary-color);
    padding: 10px;
    margin: 10px 0 0 0;
}
footer p {
    color: white;
}
footer a {
    text-decoration: none;
}
.sociallinks img{
    width: 40px;
    height: auto;
}
body, html {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}
h1, h2{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 100;
    text-align: center;
    color: var(--accent2-color);
    width: auto;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--accent2-color)
}
.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: var(--secondary-color);
    border: 1px solid var(--accent1-color);
    padding: 0 5px 5px 5px;
    margin: 10px 0 0 0;
}
.team img {
    width: 150px;
    height: 100%;
    border: 1px solid black;
    padding: 1px;
}
.team h2 {
    grid-column: 1/-1;
    font-weight: 400;
}
.team caption {
    font-size: 14px;
    text-align: center; 
}
.team figure {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--accent2-color)
}
.company_info {
    display: grid;
    grid-template-rows: 110px 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: var(--accent1-color);
    border: 1px solid var(--primary-color);
    padding: 0 5px 5px 5px;
    margin: 10px 0 0 0;
    font-weight: 300;
}
.company_info h1 {
    grid-column: 1/-1;
    font-weight: 400;
}
.company_info p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
.image-box img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.text-box {
    position: absolute;
    right: 300px;
    background-color: #5b6653;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button {
    background-color: #e8c6a7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
button:hover {
    background-color: #d4a985;
}
hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    width: 85%;
    margin: 80px auto;
}
.book_now {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
    padding: 0 5px 5px 5px;
    margin: 10px 0 0 0;
}
.book_now img {
    width: 500px;
    height: 100%;
    border: 1px solid black;
    padding: 1px;
}
.book_now h2 {
    grid-column: 1/-1;
    font-weight: 400;
}
.book_now caption {
    font-size: 14px;
    text-align: center; 
}
.book_now figure {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--accent2-color)
}